@if (Introduction != null)
{
    var articleHref = $"/article/{Introduction.NickName}";

    <div class="xl:w-1/3 lg:w-1/2 w-full">
        <div class="border rounded-lg mx-2 my-4 px-2 py-4">
            <div class="flex flex-col border-b mb-2 pb-2">
                <a href="@articleHref" class="text-xl text-black font-semibold"> @Introduction.Title </a>
                <label class="text-xs text-zinc-400 flex flex-row-reverse">@Introduction.DisplayDate?.ToString("yyyy-MM-dd")</label>
            </div>
            @if (Introduction.Hints != null && Introduction.Hints.Any())
            {
                <ul>
                    @foreach (var item in Introduction.Hints)
                    {
                        <li><span class="break-words text-md text-zinc-400">@item</span></li>
                    }
                </ul>
            }
            <div class="flex flex-row-reverse">
                <a href="@articleHref" class="text-zinc-400 text-xs">more...</a>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public ArticleIntroductionModel? Introduction { get; set; }
}
